<!DOCTYPE html>
<html>
<head>
  <title>Anjankumar H N</title>
  <link rel="icon" href="/assets/anjan.jpg" type="image/png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/header" %>
<%= yield %>
<footer class="">
  <!--            <div> &copy; 2014 About.com &mdash; All rights reserved.</div>-->
  <div class="footer-copyrights"> <span class="copyright-icon">&COPY; </span>2016 All rights reserved. </div>
</footer>
</body>
</html>
