<!DOCTYPE html>
<html>
<head>
  <title>Anjankumar H N</title>
  <link rel="icon" href="/assets/anjan.jpg" type="image/png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/header" %>
<div class="left-common">
	<div class="col-md-3">
			<img src="/assets/anjan.jpg" alt="Smiley face" class="img-circle" height="150" width="150">
			<h4>Anjan Kumar H.N</h4>
			<p>I'm a Software Engineer, specialized in Ruby on Rails development and AWS Services. I live in India and I have a full time job at Info Solutions Berlin as a Sr. Backend Developer.</p>
			<p>More <a href="https://about.me/AnjanGowda" target="_blank">About Me</a></p>
			<hr>
			<p>Follow me in</p>
			<a href="https://in.linkedin.com/in/anjankumar-h-n-882166b8" target="_blank">
			<img src="/assets/social_icons_Linkedin.png" alt="linkedin" class="img-circle" height="50" width="50">
			</a>
			&nbsp;
			&nbsp;
			<a href="https://www.facebook.com/anjan.gowdamandya" target="_blank">
			<img src="assets/fb.png" alt="facebook" class="img-circle" height="45" width="45">
			</a>
			&nbsp;
			&nbsp;
			<a href="https://twitter.com/aknagaraja" target="_blank">
			<img src="/assets/twitter.png" alt="twitter" class="img-circle" height="50" width="50">
			</a>
		</div>
		<hr>
		<p>If you need help with your AWS clound infrastructure & Ruby on Rails development, please let me know, I'll be happy if I can help.</p>
		<img src="/assets/aws.png" alt="Smiley face" height="150" width="200">
		<hr>
</div>
<%= yield %>
<footer class="">
  <!--            <div> &copy; 2014 About.com &mdash; All rights reserved.</div>-->
  <div class="footer-copyrights"> <span class="copyright-icon">&COPY; </span>2016 All rights reserved. </div>
</footer>
</body>
</html>
